name: Rust

on:
  push:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v4

    - name: Add Rust to PATH
      run: echo "/home/ecs-user/.cargo/bin" >> $GITHUB_PATH

    - name: Copy env file
      run: cp /opt/API/labapi/.env $GITHUB_WORKSPACE/.env

    - name: Build
      run: cargo build --release --verbose

    - name: Run tests
      run: cargo test --verbose

    - name: Deploy
      run: /opt/API/labapi/deploy.sh
